
.nav-account {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

#signupBtn,
#loginBtn {
    color: #fff;
    background-color: #FC8A17;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    margin-left: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#signupBtn:hover,
#loginBtn:hover {
    background-color: #FF9E00;
    opacity: 0.9;
    transform: translateY(-0.4px);
}

/* --- Login Dropdown --- */
#loginDropdown {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    min-width: 250px;
    padding: 30px 15px 20px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
}

.dropdown-arrow {
    position: absolute;
    top: -8px;
    left: 65px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

#loginDropdown input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

#loginDropdown button {
    padding: 8px;
    width: 50%;
    margin-top: 20px;
    background-color: #FC8A17;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#loginDropdown label {
    color: #333;
}

.nav-account label{
    font-size: 14px;
}

/* ----profile---- */

.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 120px;
}

.profile-button {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
}

.header {
    display: flex;
    align-items: center;
}

.profile-button {
    font-family: "Rock Salt";
    letter-spacing: 4px;
}

.dropdown-icon {
    opacity: 0.5;
    filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(0%) hue-rotate(164deg) brightness(99%) contrast(100%);
}

.error {
    color: #ff0000;
    font-size: 12px;
}

#submit {
    display: flex;
    justify-content: center;
}